
*{
    padding: 0;
    margin: 0;
}

#iconnava{
    width: 90px;
    height: 90px;
    margin-top: 15px;
    margin-left: 25px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
}
 @keyframes example {
    0%   { right:0px; top:0px;}
    25%  { right:1300px; top:px;}
    50%  { right:1300px; top:px;}
    75%  { right:0px; top:px;}
    100% { right:0px; top:0px;}
  }

.navabar{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 0, 0);
    
    
}
#navalist{
    list-style: none;
    display : flex;
    flex-direction : row;
    justify-content : flex-end;
    align-items : center;
    gap: 50px;
    margin-left: 700px;
    margin-top: -68px;
    margin-right: 100px;
    position: relative;
    animation-name: example;
    animation-duration: 3.5s;
    
  }
header{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
}

#divgreen{
    height: 582px;
    width: 862px;
    background-color: rgb(103, 210, 180);
    margin-top: -64px;
    margin-left: 400px;
    animation-name: exampl;
    animation-duration: 4s;
    position: relative;
    animation-name: example;
    animation-duration: 2.5s;
}

#computer2{
    margin-top: 70px;
    width: 400px;
    height: 360px;
    margin-left: -190px;
    border-radius: 50px;
    position: relative;
    animation-name: example;
    animation-duration: 7s;
}
#hacker{
    width: 50px;
    height: 50px;
    margin-top: 10px;

}
#sayhello{
    text-decoration: none;
    margin-left: 20px;
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid  rgb(228, 228, 228);
    font-size: 20px;
    border-radius: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    animation-name: example;
    animation-duration: 4.5s;
    font-family: "Poppins", sans-serif;
    
}
#name{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 380px;
    margin-top: -330px;
    color: white;
    position: relative;
    animation-name: example;
    animation-duration: 5s;
    font-size: 25px;
    
    
}
#gokul{
    margin-left: 370px;
    margin-top: 15px;
    font-size: 40px;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    position: relative;
    animation-name: example;
    animation-duration: 5.5s;
    
}
#things{
    margin-top: 15px;
    margin-left: 340px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    position: relative;
    animation-name: example;
    animation-duration: 6s;

}

#resume{
    margin-left: 300px;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 9px;
    padding-bottom: 9px;
    border: 2px solid  rgb(5, 3, 3);
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(61, 61, 61);
    border-radius: 5px;
    position: relative;
    animation-name: example;
    animation-duration: 6.5s;
    
}
#divresume{
    margin-top: 40px;
    margin-left: 30px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
}
.container{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
   
    
}
#section2{
    display: flex;
    flex-direction: row;
    justify-content : space-between;
    align-items : center;

}
#section2 .container{
    display: flex;
    flex-direction: row;
    justify-content : space-between;
    align-items : center;

}
#section2img{
    width: 30%;
}
#section2 h1{
    margin-bottom: 15px;
    font-family: "Lora", serif;
    color: rgb(43, 40, 40);
}
#section2 p{
    margin-right: 40px;
    font-family: "Poppins", sans-serif;
    line-height: 26px;
    color: rgb(59, 59, 59);
}
#sectionph{
    margin-top: 80px;
    font-family: "Lora", serif;
    font-size: 16px;
    font-weight: 300px;
}
#section3{
    background-color: rgb(216, 219, 255);
    border-radius: 20px;
    height: 420px;
}

#section3 .container{
    display: flex;
    flex-direction: row;
    justify-content : space-between;
    align-items : center;
}
#section3 ul{
    display: flex;
    flex-direction: row;
    justify-content : space-between;
    align-items : center;
    gap: 20px;
}
.section3div{
    width: 340px;
    height: 350px;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: rgb(255, 255, 255);
}
.section3div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 30px;
}
.divh3{
    text-align: center;
    margin-top: 20px;
    font-family: "Lora", serif;
    font-size: 22px;
    margin-bottom: 15px;
}
.divh5{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: -100px;
    font-size: 20px;
    line-height: 37px;
    color: rgb(118, 114, 114);
    
}
.divh4{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 15px;
    font-family: "Lora", serif;
    
}
#section4h1{
    text-align: center;
    margin-top: 20px;
    font-family: "Lora", serif;
    font-size: 28px;
    color: rgb(44, 43, 43);
}
#recentbox{
    display: flex;
    flex-direction: row;
    justify-content : space-around;
    align-items : center;
    margin-top: 35px;
}
#recentlist{
    display: flex;
    flex-direction: row;
    justify-content : space-around;
    align-items : center;
    gap: 20px;
}
#recentlist a{
    text-decoration: none;
}
#recentlist img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#sectionimg{
    background-color: rgb(255, 255, 255);
    height: 460px;
}
.boxtittle{
    text-align: center;
    margin-top: -40px;
    color: white;
}
#buttendiv{
    text-align: center;
    margin-top: 50px;
}
#recentbutten{
    text-decoration: none;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid rgb(108, 40, 244);
    font-family: "Poppins", sans-serif;
    border-radius: 50px;
    font-weight: 400;
    font-size: 20px;
    color: rgb(108, 40, 244);
}
footer{
    background-color: rgb(171, 171, 255);
    height: 200px;
}
#footersapn{
    text-align: center;
}
.material-symbols-outlined{
    font-size: 100;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
#social{
    text-align: center;
}